*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

/* weatherapi.css */

body {
    background-image: url('https://img.freepik.com/free-vector/illustration-weather-forecast_53876-20623.jpg?t=st=1733817269~exp=1733820869~hmac=0d66182a72b4ad43693508ea306896ff777d92fda92e7e388ea5f3602a916fe3&w=1380');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
    height: 100vh; 
    /* opacity: 50%; */
  }
  

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    width: 400px;
    height: min-content;
    background-color: white;
    border-radius: 12px;
    padding: 28px;
    /* box-shadow: 15px 15px 25px solid rgb(197, 139, 14); */
}
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 500px; */
    /* padding bottom:900px; */
}
.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    background-color: #e6f5fb;
    padding: 12px 16px;
    border-radius: 14px;
}
.search-box input::placeholder{
    color: black;
}
.search-box button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}
.search-box button:hover{
    color: white;
    background-color: #ababab;
}
.images{
    position: relative;
    display: flex;
}
.weather-body img{
    width: 60%;
}
.weather-body{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}
.weather-box{
    margin-block: 20px;
    text-align: center;
}
.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}
.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}
.weather-box .description{
    font-size: 20px;
    font-weight: 700;
}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.humidity, .wind{
    display: flex;
    align-items: center;
}
.humidity{
    margin-left: 20px;
}
.wind{
    margin-right: 20px;
}
.weather-details i{
    font-size: 36px;
}
.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}
.text span{
    font-size: 20px;
    font-weight: 700;
}
.location_not_found{
    margin-top: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.location_not_found img{
    width: 60%;
}
.location_not_found h1{
    font-size: 20px;
    color: #6b6b6b;
    margin-block-end: 15px;
}
